@font-face {
  font-family: 'Dongle-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108_2@1.0/Dongle-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'Dongle-Regular';
  box-sizing: border-box;
}

html{
  font-size: 18px;
}

body{
  margin: 0; 
}

.container{
  display: flex;
  justify-content: center;
}

.app{
  position: relative;
  width: 600px;
  min-width: 600px;
  height: 400px;
  background-color: rgb(81, 94, 123);
  border-radius: 0 0 8px 8px;
}

button{
  font-size: 24px;
  width: 300px;
  height: 40px;
  border: none;
  color: white;
  border: 1px solid black;
  background-color: rgb(24, 49, 83); 
  cursor: pointer;
}

button:active{
  background-color:rgb(2, 28, 64);
}

.app > .photo{
  height: 360px;
  background-size: 100% 100%;
}

.app > .prev{
  float: left;
  border-radius: 0 0 0 8px;
}

.app > .next{
  float: right;
  border-radius: 0 0 8px 0;
}

.no-photo{
  display: none;
}

.beginning{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(81, 94, 123);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.call-btn{
  font-size: 32px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0 #000000;
}